<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Attach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Callgraph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CompileAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OnlyServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3519C842150E650C00A7A681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3519C884150E776F00A7A681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3519C8F5150EC16900A7A681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3519C91C150FAF5800A7A681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658C741517E29E003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658C941517E479003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658CAB1517E4FA003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658CD21517E961003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658CF01517EA59003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658D001517EA7C003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658D1E1517FAE1003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658D3D1517FB7E003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658D5A1517FEFC003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658D781517FF9D003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658D971518005E003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658DD01518013F003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658DED15180205003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658E041518E992003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658E221518EA75003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658E401518EDC7003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658E601518F212003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35658E7E1518F2CF003B33DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>356E72FF1509657000ED989A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>356E73221509663700ED989A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35726C0D150FB3350096487F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35726C23150FB6B70096487F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35726C39150FB8120096487F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35726C4F150FB9450096487F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35781AD7151A9B670076D66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>357C0098151150DF00ACD37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>357C00D0151151EC00ACD37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596B79A1509921100730ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596B7AE1509951A00730ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596B7C9150997FD00730ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596C1261513BC0B00F5D9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596C13F1513C01A00F5D9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596C15E1513C75B00F5D9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596C16E1513C76600F5D9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596C17E1513C77100F5D9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596C18E1513C77F00F5D9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3596C1C31513D73300F5D9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359907411509BA7400966EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359907551509BB4600966EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359907641509BBE000966EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359907901509C1B600966EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359907B5150A9BF500966EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35AB2C9015179ECE009A9BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35AB2CAD15179F90009A9BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35AB2CBD15179FB9009A9BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35D7A27C1513DA2100036E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35D7A28F1513DAC500036E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DD62FB152A6E7A00749A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DD631A152A6F3200749A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35DD6353152A6F9F00749A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35E315C215096ABC0005BF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35E315EB1509740C0005BF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F33596150AB0D1004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F335AD150AB39B004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F335C9150AB44D004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F335E4150AB8D2004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F335FC150ABA15004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F3361D150ABC92004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F33642150AC15F004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F33663150AC37F004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F33687150AC52C004076AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
